  
// Font Mixins
@mixin serif-font {
  font-family: "Cinzel", serif;
}
@mixin script-font {
  font-family: 'Raleway', sans-serif;
}
@mixin body-font {
  font-family: 'Raleway', sans-serif;
}
@mixin heading-font {
  font-family: 'Raleway', sans-serif;
}